body{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

.container{
	width: 80%;
	margin: auto;
}
.bg{
	background-color: #c0c0c0;
}
/* logo style start here */
.logo {
	height: 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 15px 0;
}
.logo h2{
	font-size: 40px;
	text-transform: capitalize;
	margin: 0;
/* logo style end here */	

}
/* navigation start here */
.navigation{
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px 0;
}
/* navigation end here */
/* Banner start here */
.banner-content{
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px 0;
}
.banner-content h2{
	font-size: 40px;
	text-transform: capitalize;
	margin: 0;
}
/* Banner end here */
/* Body content start here */
.body-content{
	display: flex;
	justify-content: space-between;
}
.sidebar{
	width: 28%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.sidebar h2{
	font-size: 35px;
	text-transform: capitalize;
	margin: 0;
}
.body-area{
	width: 70%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.body-area h2{
	font-size: 50px;
	text-transform: capitalize;
	margin: 0;
}
/* Body content end here */
/* Footer content start here */
.footer-content{
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px 0;
}
.footer-content h2{
	font-size: 40px;
	text-transform: capitalize;
	margin: 0;
}
/* Footer content end here */



